img {
    max-height: 200px;
}
body {
    font-family: verdana;
    background-color: rgb(28, 167, 167);
}
a:hover {
    color: rgb(0, 102, 255);
    background-color: rgb(217, 255, 80);
}
.visited{
    border: 1px solid black;
    font-style: italic;
}
.visited:hover {
    background-color: rgb(217, 255, 80); 
}
h3{
    margin: 0;
    font-weight: bold;
}
button{
    background-color: rgb(217, 255, 80); 
}
.venues > ul {
    display: flex;
    flex-wrap: wrap;
}
.venues li{
    margin: 1em;
    border: 1px solid black;
    list-style: none;    
}
.venues li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 14, 163); 
}
.neighborhoods > li {
    background-color: rgb(255, 14, 163); 
    border: 1px solid black;
}
.venueslist {
    background-color: rgba(14, 227, 255, 0.404); ;
}
form{
    border: 1px solid black;
    padding: .25em;
}
nav{
    display: flex;
    border: 1px solid black;
}
nav > a {
    padding: 1em;
}